{% extends 'main.html' %}

{% block title %}
DashBoard
{% endblock %}

{% block body %}
{% include 'dashboard/header.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#test1">Test1</a></li>
                <li class="tab col s3"><a href="#test2">Test2</a></li>
                <li class="tab col s3"><a href="#test3">Test3</a></li>
                <li class="tab col s3"><a href="#test4">Test4</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">Test1</div>
        <div id="test2" class="col s12">Test2</div>
        <div id="test3" class="col s12">Test3</div>
        <div id="test4" class="col s12">Test4</div>
    </div>
</div>
{% endblock %}
